[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
termgraph = "*"
black = "*"
loguru = "*"
pytest = "*"
sphinx = "*"
bowler = "*"

[packages]
pyqt5 = "*"
qt-py = "*"

[requires]
python_version = "3.7"
