[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
termgraph = "*"
loguru = "*"
pytest = "*"
sphinx = "*"

[packages]
qt-py = "*"
jsonpickle = "*"
pygments = "*"

[requires]
python_version = "2.7"
