[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
termgraph = "*"
loguru = "*"
pytest = "*"
sphinx = "*"

[packages]
qt-py = "*"
c8eca12 = {file = "https://www.riverbankcomputing.com/static/Downloads/PyQt5/5.12.1/PyQt5_gpl-5.12.1.tar.gz"}
cmake = "*"

[requires]
python_version = "2.7"
